# OS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/
.env
*.env

# Jupyter
.ipynb_checkpoints/

# Data (DO NOT COMMIT)
data/
*.parquet
*.csv
*.gz

# Models / artifacts
*.pkl
*.joblib

# Logs
*.log
